html {
    animation: fade-bottom 1s ease-in;
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat';
    text-transform: uppercase !important;
}
#banner-home {
    background-image: url( '../assets/01.png');
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.size-50 {
    width: 60%;
}
.size-70 {
    width: 70%;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border-radius: 100px;
    width: 310px;
    text-decoration: none;
    color: #003da7;
    background-color: white;
    padding: 10px 90px;
}

.btn-primary {
    background-color: #003da7;
}
button {
    border-radius: 100px;
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.bg-light {
    background-color: transparent !important;
}

.logo {
    height: auto;
    margin-top: 0px;
    border-radius: 0px;
}

.navbar li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.navbar li.button a {
    border: 1px solid #fff;
    border-radius: 100px;
    margin-left: 20px;
    padding: 5px 30px;
}

.bg-blue-last {
    background-color: #003da7;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 80px;
    text-align: center;
    color: white;
}
.bg-blue-last h1 {
    padding: 20px 0px;
    margin: 0;
}
.bg-blue {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: absolute;
    bottom: 30%;
}

.bg-blue h1 {
    font-size: 5rem;
    font-weight: bold;
    background-color: #003da7;
    color: white;
    padding: 10px;
    line-height: 6rem;
}

.bg-blue h2 {
    padding: 10px;
    background-color: #003da7;
    color: #fff;
    line-height: 2.3rem;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.flux {
    padding: 100px 10px;
}
.flux ul {
    list-style: none;
    
}
.flux ul li {
    width: 20%;
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    position: relative;
    display: flex;
    padding: 10px;
    box-shadow: -10px 10px 25px #a1a1a1;
    border-radius: 130px;
    justify-content: center;
}

.flux .subtitle {
    color: #003da7;
    top: 53%;
    position: absolute;
    font-size: 0.7rem;
    width: 50%;
    text-align: center;
    line-height: 0.9rem;
    left: 20%;
}
.flux img {
    width: 100%;
    height: 100%;
}
.flux ul li:hover {
    transform: scale(1.2);
    z-index: 10;
}
.navbar-light .navbar-toggler {
    border: none;
}
.prazer .bg-prazer {
    padding: 30px;
    margin: 0px 0px 50px 0px;
    margin-top: 60px;
}

.prazer h2 {
    color: #003da7 !important;
    font-size: 2.4rem;
    font-weight: bold;
    padding-left: 50px;
    padding-bottom: 20px;
}

.prazer p {
    color: #003da7 !important;
    text-align: justify;

    padding-left: 52px;
    font-size: 1.7rem;
    line-height: 2rem;

}

.growflux h2 {
    padding-top: 500px;
}
.text-blue {
    color: #003da7;
    font-weight: bold;
    font-size: 2.4rem;
    
    line-height: 2.4rem;
}
.bg-fluid-blue {
    background-color: #003da7;
}

.solution {
    color: #003da7;
}

.solucao h4 {
    line-height: 4rem;
}
.solucao h4 strong {
    background-color: #003da7;
    color: white;
    padding: 10px;
}

.solution h4.title {
    font-size: 1.5rem;
}
.solution h5 {
    color: #003da7;
    padding: 0px 5px;
    font-size: 1.4rem;
    font-weight: bold;
}
.solution ul {
    list-style: none;
}

.solution ul li {
    line-height: 1.2rem;
    font-size: 0.9rem;
}

.solution h4.title {
    background: #003da7;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;

}
.solution h3 {
    font-size: 2.2rem;
    font-weight: bold;

    line-height: 2.3rem;
}

.solution button {
    width: 50%;
    margin-top: 60px;
}
.feedback {
    padding: 100px;
}
.feedback-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 0px 20px;
}
.oportunidades h2 {
    font-weight: 900;
    font-size: 2.6rem;
}

.oportunidades .img-carousel {
    width: 250px !important;
    height: 250px !important;
}
.oportunidades .direita {
    top: 100px;
    left: 50px;
    z-index: 10;
    transform: translateX(-50px);
    animation: direita 3s ease-in-out infinite;
}
@keyframes direita {
    0% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-50px);
    }
}

.oportunidades .esquerda {
    bottom: 80px;
    right: 20px;

    z-index: 10;
    transform: translateX(0px);
    animation: esquerda 3s ease-in-out infinite;
}
@keyframes esquerda {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0px);
    }
}
.oportunidades h5 {
    font-size: 1.7rem;
    line-height: 2rem;
    text-align: justify !important;
    font-weight: 400;
}
a.button, button {
    font-size: 1.4rem;
}
.feedback-card p {
    text-align: center;
    color: white;
    font-size: 0.7rem;
    line-height: 0.7rem;
    position: absolute;
    padding: 0px 110px;
}

.feedback-card .profile-box {
    width: 120px;
    overflow: hidden;
    border-radius: 60px;
    position: absolute;
    top: 9px;
    height: auto;
}
.feedback-card .profile {
    width: auto;
    height: 100px;
}
.feedback h4 {
    font-weight: 900;
    font-size: 2.9rem;
    text-transform: uppercase;
}
.feedback button {
    font-size: 1.6rem;
    text-transform: uppercase;
}
.feedback-card p.feed {
    bottom: 54px;
}

.feedback-card p.autor {
    bottom: 40px;
}
.feedback-card span {
    font-size: 1.7rem;
}
input {
    border-radius: 100px;
    font-size: 1.3rem;
    padding: 10px;
    text-align: center;
    color: #003da7;
    border: 1px solid #fff;
}

input::placeholder {          
    font-size: 1.3rem;
    text-align: center;
    color: #003da7;
}
input:-ms-input-placeholder {
    font-size: 1.3rem;
    text-align: center;
    color: #003da7;
}
input::-ms-input-placeholder {
    font-size: 1.3rem;
    text-align: center;
    color: #003da7;
}

.solution-box .flex-column {
    padding-bottom: 30px;
}

.solution-box li {
    padding-left: 20px;
}
.solution-box img {
    width: 55px;
    height: 55px;
}
#register {
    margin-bottom: 80px;
}
#register h2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 3rem;
}
#register h2 strong {
    font-weight: 900;
}

#register .btn {
    background-color: #40c351;
    border: none;
    color: white;
}

#register .btn p {
    margin: 0px;
}

#register img.phone {
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

.animated-1 {
    transform: translateY(0px);
    animation: float1 8s ease-in-out infinite;
}

.animated-2 {
    transform: translateY(-100px);
    animation: float2 8s ease-in-out infinite;
}


.animated-3 {
    transform: translateY(0px);
    animation: float3 8s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes float1 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes float2 {
    0% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(-50px);
    }
}
@keyframes float3 {
    0% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}
.last {
    margin-top: 130px;
}

.site-footer
{
  background-color:#33353d;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fff;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#fff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#fff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:white
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media(max-width: 992px) {
    .feedback-card p {
        bottom: 154px;
    }
    .bg-blue {
        width: 100%;
    }
    .size-50 {
        width: 100%;
    }
    .size-70 {
        width: 100%;
    }
    .solution-title {
        justify-content: center;
    }
    .solution-box > div {
        text-align: center;
    }
    #banner-home {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center, 50%, 50%;
        background-color: #000;
        width: 100%;
        height: 500px;
        position: relative;
    
    }
}