<div class="toolbar" id="banner-home">
  <div class="navbar navbar-expand-lg navbar-light container pt-5">
    <a class="navbar-brand" href="#">
      <img class="logo" src="assets/logo.svg" width="150px"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
      <div class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#quemsomos">Quem somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Aplicativo</a>
        </li>
        <li class="nav-item button">
          <a class="nav-link" href="#register">Acesse sua conta</a>
        </li>
        <li class="nav-item button">
          <a class="nav-link" href="#register">Quero ser <strong>Jetobank</strong></a>
        </li>
      </div>
  </div>  
  <div class="bg-blue container-fluid">
    <div class="container">
      <div class="col-9 p-0 m-0">
        <h1>Seu Business em um outro nível</h1>
        <h2>Potencialize o resultado do seu business com a Jeto,<br> por meio soluções financeiras modernas e customizadas.</h2>
        <a class="button" href="#feedback">Saiba como</a>
      </div>
    </div>
  </div>
</div>


<div class="prazer container mt-5 pt-5">
  <div class="d-flex justify-content-between align-items-center">
    <div class="col-6">
      <h2 class="text-light font-weight">Prazer, somos a Jeto!</h2>
      <p class="text-light">Uma Fintech focada em potencializar resultados de negócios, implementando soluções que permitem as empresas aproveitarem de forma mais racional e moderna o seu próprio ecossistema financeiro.</p>
      <p class="text-light pt-4">Ofertamos contas digitais, consórcios, seguros, créditos de várias formas e muito mais.</p>
    </div>
    <div class="col-4">
      <img src="assets/prazer.svg" width="100%" height="auto">
    </div>

  </div>
</div>

<div id="quemsomos" class="flux container">
  <ul class="d-inline-flex justify-content-around">
    <li>
      <img src="assets/flux/01.svg" width="100%" height="auto">
      <p class="subtitle">Concentramos as melhores soluções de serviços financeiros</p>
    </li>
    <li>
      <img src="assets/flux/02.svg" width="100%" height="auto">
      <p class="subtitle">Concentramos as melhores soluções de serviços financeiros</p>
    </li>
    <li>
      <img src="assets/flux/03.svg" width="100%" height="auto">
      <p class="subtitle">Descubra o poder do ecossistema financeiro do seu negócio</p>
    </li>
    <li>
      <img src="assets/flux/04.svg" width="100%" height="auto">
      <p class="subtitle">Conheça as soluções de cobrança. Boleto Inteligente Jeto</p>
    </li>
    <li>
      <img src="assets/flux/05.svg" width="100%" height="auto">
      <p class="subtitle">Turbine seus negócios e clientes, com Crédito Jeto</p>
    </li>
  </ul>
</div>


<div class="container d-flex align-items-center flex-wrap flex-md-nowrap flex-md py-5">
  <div class="col-12 col-md-5 d-flex justify-content-center m-0 p-0">
    <h3 class="text-blue font-weight">Jeto é do seu jeito<br><br>Seu jeito, agro<br> Seu jeito, empresário<br> Seu jeito, colaborador<br></h3>
  </div>
  <div class="col-12 col-md-7 m-0 p-0">
    <img src="assets/likeyou/1.png" style="left: 70px;" class="col-4 m-0 p-0 animated-1"/>
    <img src="assets/likeyou/2.png" class="col-4 m-0 p-0 animated-2"/>
    <img src="assets/likeyou/3.png" style="right: 70px;" class="col-4 m-0 p-0 animated-3"/>
  </div>
</div>

<div class="solucao container d-flex align-items-center justify-content-center text-center flex-wrap flex-md-nowrap flex-md pt-5 mt-4">
  <h4 class="text-blue font-weight pt-4 pt-md-0">Temos a solução certa para <br><strong>cada tipo de negócio</strong></h4>
</div>

<div class="solution-container container mb-5 pb-4">
  <div class="solution col-12 d-flex align-items-center flex-column flex-md-row flex-wrap justify-content-between my-5">
    <div class="solution-box col-12 d-flex flex-wrap">
      <div class="col-12 col-md-4 d-flex align-items-center flex-column">
        <div class="solution-title d-flex align-items-end">
          <img src="assets/solutions/01.svg"/>
          <h5 class="font-weight">Conta Digital</h5>
        </div>
        <ul>
          <li>TED</li>
          <li>Pagamento de contas</li>
          <li>Saques</li>
          <li>Pix</li>
          <li>Cashback</li>
          <li>POS jetoBank</li>
        </ul>
      </div>
      <div class="col-12 col-md-4 d-flex align-items-center flex-column">
        <div class="solution-title d-flex align-items-end">
          <img src="assets/solutions/02.svg"/>
          <h5 class="font-weight">Crédito</h5>
        </div>
        <ul>
          <li>Antecipação de Recebíveis</li>
          <li>Consignado Privado</li>
          <li>Consignado Público</li>
          <li>Financiamentos</li>
          <li>Crédito Estruturado</li>
        </ul>
      </div>
      <div class="col-12 col-md-4 d-flex align-items-center flex-column">
        <div class="solution-title d-flex align-items-end">
          <img src="assets/solutions/03.svg"/>
          <h5 class="font-weight">Investimentos</h5>
        </div>
        <ul>
          <li>Ações</li>
          <li>Fundos</li>
          <li>Consórcios</li>
        </ul>
      </div>
      <div class="col-12 col-md-4 d-flex align-items-center flex-column">
        <div class="solution-title d-flex align-items-end">
          <img src="assets/solutions/04.svg"/>
          <h5 class="font-weight">Seguros</h5>
        </div>
        <ul>
          <li>Customizados</li>
          <li>Responsabilidade Civil</li>
          <li>Auto</li>
          <li>Patrimonial</li>
          <li>Garantia</li>
        </ul>
      </div>
      <div class="col-12 col-md-4 d-flex align-items-center flex-column">
        <div class="solution-title d-flex align-items-end">
          <img src="assets/solutions/05.svg"/>
          <h5 class="font-weight">Automação</h5>
        </div>
        <ul>
          <li>Cobrança</li>
          <li>Folha de Pagamento</li>
          <li>Pagamento de Benefícios</li>
          <li>Pagamento de Fornecedores</li>
          <li>Split de Recebimentos</li>
          <li>Split de Pagamento</li>
        </ul>
      </div>
      <div class="col-12 col-md-4 d-flex align-items-center flex-column">
        <div class="solution-title d-flex align-items-end">
          <img src="assets/solutions/06.svg"/>
          <h5 class="font-weight">Cashback</h5>
        </div>
        <ul>
          <li>Integração via API</li>
          <li>Portal</li>
          <li>App</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="d-none d-md-flex growflux container-fluid px-0 pb-5">
  <img class="w-100" src="assets/growflux.PNG" />
</div>

<div class="d-flex d-md-none growflux container-fluid px-0 pb-5">
  <img class="w-100" src="assets/growflux-mobile.svg" />
</div>

<div class="oportunidades d-flex justify-content-center flex-column align-items-center my-5 py-5">
  <h2 class="text-blue text-center col-12 col-md-6 pb-3">Cultive seu financeiro com a Jeto!</h2>
  <h5 class="text-blue text-center col-12 col-md-6">Estamos também no Agronegócio levando soluções financeiras para o pequeno, médio e grande produtor.</h5>
  <h5 class="text-blue text-center col-12 col-md-6">Conte com nossos especialistas para lhe auxiliar antes e depois da porteira</h5>
  <button type="button" class="btn btn-primary col-12 col-md-4 my-5">Fale agora com um especialista</button>
  <div class="position-relative">
  </div>
  <div class="container-fluid p-0">
    <img class="direita" src="assets/direita.png"/>
    <owl-carousel-o [options]="customOportunities">
      <ng-template carouselSlide><img class="company" src="assets/oportunities/01.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/02.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/03.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/04.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/05.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/06.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/07.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/08.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/09.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/10.png"/></ng-template>
    </owl-carousel-o>
    <owl-carousel-o [options]="customOportunities">
      <ng-template carouselSlide><img class="company" src="assets/oportunities/06.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/07.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/08.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/09.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/10.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/01.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/02.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/03.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/04.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/oportunities/05.png"/></ng-template>
    </owl-carousel-o>
    <div class="w-100 position-relative">
      <img class="esquerda" src="assets/esquerda.png"/>
    </div>

  </div>
  <h2 class="text-blue text-center col-12 col-md-6 py-5 my-5">Oportunidades e beneficios que<br> vão além do campo!</h2>
</div>

<!--<div id="feedback" class="feedback text-center mb-5">
  <h4 class="text-blue">Clientes Jeto Sabe!</h4>
  <div class="container">
    <div class="w-100 mb-5">
      <owl-carousel-o [options]="customFeedback">
        <ng-template carouselSlide>
          <div class="feedback-card">
            <div class="profile-box">
              <img class="profile" src="assets/avaliacao.jpg"/>
            </div>
            <img src="assets/feedback-card.svg"/>
            <p class="feed"><span>❝</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<span>❞</span></p>
            <p class="autor"><strong>DR. John Smith</strong> (CEO, Reference)</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="feedback-card">
            <div class="profile-box">
              <img class="profile" src="assets/avaliacao2.jpg"/>
            </div>
            <img src="assets/feedback-card.svg"/>
            <p class="feed"><span>❝</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<span>❞</span></p>
            <p class="autor"><strong>DR. John Smith</strong> (CEO, Reference)</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="feedback-card">
            <div class="profile-box">
              <img class="profile" src="assets/avaliacao.jpg"/>
            </div>
            <img src="assets/feedback-card.svg"/>
            <p class="feed"><span>❝</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<span>❞</span></p>
            <p class="autor"><strong>DR. John Smith</strong> (CEO, Reference)</p>
          </div>
        </ng-template>
  
      </owl-carousel-o>
    </div>
  </div>
  <button type="button" class="btn btn-primary col-12 col-md-5 mt-5">Faça que nem eles<br> <strong>seja Jeto</strong></button>
</div>-->

<div id="register" class="container-fluid bg-fluid-blue">
  <div class="mb-5 d-flex align-items-center p-5 justify-content-center flex-column flex-md-row">
    <div class="d-flex flex-column align-items-center col-md-6">
      <h2 class="text-light">Fale agora com um de nossos especialistas e descubra como a Jeto pode <strong>impulsionar seus resultados!</strong></h2>
      <img class="phone" src="assets/floating-phone.png" width="30%"/>
    </div>
    <div class="form col-12 col-md-4 justify-content-center d-flex text-center flex-column">
      <form #gfg>
        <input ngModel id="name" name="name" type="text" class="col-12 my-2" placeholder="Nome / Sobrenome"/>
        <input ngModel id="phone" name="phone" type="text" class="col-12 my-2" placeholder="Celular"/>
        <input ngModel id="email" name="email" type="text" class="col-12 my-2" placeholder="E-mail"/>
        <div class="mt-5 d-flex justify-content-center">
          <button (click)="onSubmit('Enviar')" type="submit" class="d-flex btn btn-light px-5">
            <img src="assets/whatsapp.png" width="30px" height="auto"/>
            <p>Enviar</p>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

  <div class="container my-5 py-5">
    <div class="d-flex justify-content-center">
      <h3 class="text-blue font-weight">Parceiros</h3>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img class="company" src="assets/companies/1.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/companies/4.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/companies/5.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/companies/6.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/companies/7.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/companies/8.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/companies/9.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/companies/10.png"/></ng-template>
      <ng-template carouselSlide><img class="company" src="assets/companies/11.png"/></ng-template>
    </owl-carousel-o>
  </div>


<div class="last container my-5 pb-5 d-flex justify-content-center flex-column align-items-center position-relative">
  <div>
    <img class="col-3 my-5 p-0" src="assets/last/1.png"/>
    <img class="col-3 my-5 p-0" src="assets/last/2.png"/>
    <img class="col-3 my-5 p-0" src="assets/last/3.png"/>
    <img class="col-3 my-5 p-0 japonese" src="assets/last/4.png"/>
  </div>
  <div class="bg-blue-last col-9">
      <div class="col-5 p-0 m-0">
        <h1>Jetobank, o banco do seu jeito!</h1>
      </div>
  </div>
</div>

<footer class="site-footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img src="assets/logo.svg" width="200px"/>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Explore</h6>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Quem somos</a></li>
          <li><a href="#">Aplicativo</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Suporte</h6>
        <ul class="footer-links">
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
     <a href="#">Wellwlds</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>